.custom_card {
  .ant-card-head {
    border-bottom: none;
    margin-bottom: -16px;
  }
}

.custom_search_card {
  .ant-card-body {
    padding-bottom: 8px;
  }
}

.custom_pagination {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .ant-pagination-total-text {
    position: relative !important;
    margin-right: auto;
  }
}

// .ant-page-header-no-children {
//   height: 2rem;
// }

.ant-tree-draggable-icon {
  display: none;
}

.custom-list-tree {
  .ant-tree-switcher {
    width: 4px;
    z-index: 2;
    &::before {
      left: -8px;
    }
  }
  .ant-tree-treenode {
    align-items: center;
  }
}
